@font-face {
    font-family:Inter;
    src: url(font/Inter-VariableFont_slnt\,wght.ttf);
}
body {background-color:hsl(233, 47%, 7%);
    font-family:Inter;
}
#main { width: 1200px ;
        height: 447px;
        background-color:hsl(244, 38%, 16%);
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50% , -50%);
        border-radius:8px;        
}
#main-pic { float:right;
            border-radius:0px 8px 8px 0px;           
} 


#main-txt h1{   color:white;
                font-size:48px;
                margin:70px 600px 0px 80px;
                
}
#main-txt h1 span{  color:hsl(277, 64%, 61%);
}
#main-txt p{    color:rgb(196, 195, 195);
                font-size:16px;
                margin-left: 80px;
                margin-top:25px;
                
                
}
#ovrly { width: 540px; 
         height:446px;
         background-color: hsla(271, 96%, 49%, 0.664); 
         position:absolute; 
         left:660px;
         float: right; 
         opacity:0.6;
         
}
#under-p h3{ color: white;
           font-size:30px; 
           display: inline-block;
           margin:40px 0px 3px 81px;
}
#under-h3 p{   color: rgb(185, 185, 185);
                display: inline-block;
                
                font-size: 18px;
}
#nth1 {margin:0px -5px 0px 82px ;}

#nth2 {margin:0px -2px 0px 60px ;}

#nth3 {margin:0px 0px 0px 50px ;}







@media screen and (max-width:1215px) {
    #main{
    width: 380px ;
    height: 920px;
    background-color: hsl(244, 38%, 16%);}

#main-pic { float:right;
            border-radius:8px 8px 0px 0px; 
            width: 380px;
            margin-bottom:40px;    
        }
            

 #main-txt h1{color:white;
              font-size:35px;
              margin:100px 35px 0px 35px;
              padding-top: 100px;
              text-align: center;  
            }
#main-txt p{  color:rgb(196, 195, 195);
              font-size:16px;
              margin:25px 56px 0px 56px;
              text-align:center;}

 #ovrly { width: 380px; 
          height:314px;
          background-color: hsla(271, 96%, 49%, 0.664); 
          position:absolute; 
          left:0px;
          float: right; 
          opacity:0.6; }      
 
 #under-p {display:flex ;flex-direction: column;
           
    ;            
}  

 #under-p h3{ color: white;
              font-size:30px; 
              text-align: center;
              margin-right: 67px;
              margin-bottom:15px;
              
              
}
#under-h3 {display:flex ;flex-direction: column;}

#nth1 {position: relative;
       top:-192px;
       left:67px ;
        
    
    }

#nth2 {position: relative;
        top:-125px;
        left:96px ;
        margin-bottom:30px;
    }

#nth3 { position: relative;
    top:-82px;
    left:120px ;

}
#under-p :last-child {margin-left:97px;}
}




